<!DOCTYPE html>
<html
    <head>
        <title>Simple Auth System</title>
    </head>
    <body>
            {% block content %}
                {% if user.is_authenticated %}
					<h2>Change Password Form</h2>
					<p style="color:black;">Password change succuessful!</p>
                    {% else %}
                    <a href="{% url 'login_url' %}">Login</a>
                    <a href="{% url 'register_url' %}">Register</a>
                {% endif %}
            {% endblock %}
    </body>
</html>
